{{ $primary_color := .Site.Data.color.primary_color }}
{{ $secondary_color := .Site.Data.color.secondary_color }}
{{ $nav_bg := .Site.Data.layouts.header.default_header.header_background_color}}
{{ $nav_text_color := .Site.Data.layouts.header.default_header.header_link_color }}
{{ $nav_text_color_hover := .Site.Data.layouts.header.default_header.header_link_color_hover }}

<!--button styles-->
{{ $primary_button_color := .Site.Data.layouts.buttons.primary_button.background_color }}
{{ $primary_button_color_hover := .Site.Data.layouts.buttons.primary_button.background_color_hover }}
{{ $p_font_family := "'Lato', sans-serif"}}
<style>
/*set classes in HTML to control menu hover animation*/

.button-fill {
    background-color: {{ $primary_button_color }};
    font-family: "Lato",sans-serif;
}
.button-fill .background-hover:hover {
    background-color: {{ $primary_button_color_hover }};
}
.button-fill:before {
    background: {{ $primary_button_color_hover }};
}
nav a:hover {
    color: {{ $primary_color }};
}
.masthead nav a {
    color: {{ $nav_text_color }};
}
.masthead nav .logo-a:hover {
    opacity: 0.9;
}
{{ if eq .Site.Data.layouts.header.default_header.logo_hover_animation "pull-img-left" }}
.masthead nav .logo-a > img {
    transform: translateX(0);
    transition: transform 1s;
}
.masthead nav .logo-a:hover img {
    transform: translateX(-10px);
    transition: transform 1s;
}
{{ end }}
.masthead nav .nav-link:hover {
    color: {{ $nav_text_color_hover }};
}
.masthead nav a:active {
    color: {{ $nav_text_color_hover }};
}
.masthead {
    background: {{ $nav_bg }};
}
input {
    font-family: {{ $p_font_family | safeCSS }};
}
</style>