<div id="section-dbg-menu" class="dbg-each-menu">

    <div class="dbg-main-btns">

    <i class="fas fa-arrows-alt"></i>
    <span class="this-section-name">{{ .global.Scratch.Get "section_template_name" | humanize }}</span>
    <a class="prepend-me part-edit" title="Open the Page Editor for this Part" href="https://app.forestry.io/sites/site_id/#/pages/content-{{ $.Scratch.Get "part_preview_link" }}"><i class="fas fa-external-link-alt"></i></a>

    <i class="fas fa-pen-square"></i>

    </div>
<div class="dbg-style-menu">
<ul class="dbg-style-sub-parent dbg-style-padding">
<span class="dbg-style-sub-parent">Padding <i class="fas fa-caret-down"></i></span>
    <ul class="dbg-style-padding-top">
        <li class="dbg-list-sub-title dbg-style-padding-top-title">Top: </li>   
        <ul class="dbg-style-padding-bottom">
            <li class="dbg-list-sub-title dbg-style-padding-bottom-title">Bottom: </li> 
        </ul>
    </ul>
</ul>
<ul class="dbg-style-sub-parent dbg-style-background">
    <span class="dbg-style-sub-parent">Background...</i></span>
</ul>
<ul class="dbg-style-sub-parent dbg-style-section-height">
    <span class="dbg-style-sub-parent">Height <i class="fas fa-caret-down"></i></span>
    <ul class="dbg-style-section-height-options">
        
    </ul>
</ul>
</div><!--dbg-style-menu-->
</div><!--dbg-each-menu-->