#results .col-inner {
	width: auto;
}
.card-block .col-inner {
	width: 100%;
}
.col-inner {
	width: 100%;
}
.card-logo-img {
	width: auto;
}
.card-featured-img {
	width: 100%;
}
.card-block-text {
	padding: 10%;
}
#cards .col-4 {
	flex-basis: calc(33.3333% - 20px);
}
#cards .col-6 {
	flex-basis: calc(50% - 20px);
}
#cards-alt .card-featured-img {
	padding: 10% 6% 0px;
}
#cards-alt .card-block-text {
	padding: 10% 16% 10%;
}
#cards-alt .card-block-text h6 {
	font-weight: 800 !important;
}
@media screen and (max-width: $screen-tablet) {
#cards .col-6 {
	transform: none !important;
}
}