.clients span {
    opacity: 1;
}
.contain-image.ddn {
	max-width: 60px;
}
.contain-image.microsoft {
	max-width: 120px;
}
.contain-image.curefest {
	max-width: 140px;
}
.contain-image.code {
	max-width: 100px;
}
.companies .square-logo img {
	max-height: 55px;
	max-width: 100px;
}
.companies img.besc {
	max-width: 145px;
}
.companies .grid-3>div {
    flex-basis: 16.66%;
}
.companies .grid-3>div {
    border-right: 1px solid #2e2e2e;
	border-top: 1px solid #2e2e2e;
}
.companies .grid-3 .grid-last {
    border-right: 0px;
}
.companies .grid-3>div {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.companies img {
	max-height: 45px;
    max-width: 100px;
}
.companies h4 {
	margin: 0 auto;
}
.companies .grid-2 img, .grid-3 img, .grid-4 img {
    margin: 0 auto;
}
@media screen and (max-width: $screen-desktop-s) {
	.featured-logos .contain-image {
	  flex-basis: 40%;
	  margin-right: 15px;
	}
	.featured-logos {
	  max-width: 400px;
	  margin-left: 0;
	  flex-wrap: wrap;
	  text-align: center;
	  justify-content: flex-start;
	}
  }
@media screen and (max-width: $screen-tablet) {
	.companies .grid-3>div {
	    flex-basis: 50%;
	}
	.companies .grid-3 {
    	flex-wrap: wrap;
	}
	.featured-logos {
	  justify-content: center;
	  margin: 0 auto;
	}
	.featured-logos.flex {
	  flex-wrap: wrap;
	}
}
@media screen and (max-width: $screen-tablet-s) {
	.companies .grid-3>div {
		    flex-basis: 50%;
	}
}
@media screen and (max-width: $screen-mobile-l) {
	.about .companies .grid-3>div {
		flex-basis: 100%;
	}
	.featured-logos.flex {
		justify-content: center;
	  }
	.featured-logos .contain-image {
		flex-basis: 31.33%;
		margin-right: 0px;
	}
	.featured-logos.flex {
		justify-content: space-between;
	}
}
@media screen and (max-width: $screen-mobile-m) {
	.about .companies .grid-3>div {
		flex-basis: 100%;
	}
}
@media screen and (max-width: $screen-mobile-s) {
	.home #hero .featured-logos {
		margin-top: 25px;
	}
}