footer {
  position: relative;
  z-index: 10;
  padding: 40px 0 10px;
  background: #FFF;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.05);
}
footer .footer-list {
  margin-bottom: 40px;
  text-align: left;
}
footer .footer-list .home h4 {
  margin: 0;
}
footer .footer-list .home p {
  font-size: 1.263em;
  font-weight: 300;
}
footer li {
  margin-bottom: 5px;
  font-size: 13px;
  list-style: none;
}
footer a {
  color: $metal;
  font-weight: 400;
  transition: $transition-opacity;
  text-decoration: none;
}
footer a:hover {
  color: $blue;
}
footer .right-align span {
  padding-left: 5px;
  padding-right: 5px;
}
.night footer .fcls-1 {
  fill: #ffffff;
}
footer .fcls-1 {
  fill: #000000;
}
footer div {
  display: block;
  margin-bottom: 10px;
  color: #000;
  font-weight: bold;
}
footer .copyright {
  margin: 0;
  color: #444;
  text-align: left;
  font-weight: 500;
  font-size: 11px;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.05);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
footer li ul, li ol {
  margin-top: 0.5em;
  list-style: none;
  padding-left: 0px;
}
footer ul.flex {
  padding-left: 0px;
}
// Night footer ----------------------------------------------------------------
.night footer div, .night-footer footer div {
    color: #FFF;
}
.night footer {
  background: #000;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1);
  color: #FFF;

   a {
    color: #fff;
  }
  .night footer a:hover {
    opacity: 0.5;
  }
  .night footer div {
    color: #FFF;
  }
  .night footer .copyright {
    color: $metal;
  }
}

// Responsive ------------------------------------------------------------------
@media all and (max-width: $screen-tablet-s) {
  footer .flex {
    flex-wrap: wrap;
  }
  footer svg {
  max-width: 200px;
  }
  .footer-list {
    flex-grow: 0;
  }
}

// Switch to accordion
@media all and (max-width: $screen-mobile-l) {
  footer,
  footer .container {
    padding: 0;
  }
  footer {
    padding-bottom: 30px;
  }
  footer .flex {
    margin-top: 0;
  }
  footer .footerlist {
    margin-bottom: 30px;
  }
  footer div {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
  }
  footer section > ul {
    margin-bottom: 30px;
  }
  footer .footer-list {
    margin: 0;
    padding: 15px 20px;
    border-bottom: 1px solid $snow;
    flex-basis: 100%;
    position: relative;
    text-align: left;
  }
  .footer-list:before {
    content: "";
    width: 14px;
    height: 7px;
    position: absolute;
    top: 23px;
    right: 20px;
    transition: transform 0.1s 0.1s ease-out;
  }
  .footer-list li {
    margin-top: 15px;
  }
  .footer-list.active ul {
    max-height: 400px;
  }
  .footer-list.active:before {
    transform: rotate(180deg);
  }
  footer .footer-list.footer-mobile-3 {
    flex-basis: 33%;
  }
  .night .footer-list {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .night .footer-list:before {
    opacity: .5;
  }
  .night .footer-list li a {
    color: $ash;
  }
  footer .copyright {
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  }
}
@media all and (max-width: $screen-mobile-m) {
  footer .footer-list.footer-mobile-3 {
    flex-basis: 33%;
  }
}