.frontpage {
// Navigation tweaks -----------------------------------------------------------
nav .active {
	opacity: 1;
}
.pivot p {
	font-weight: 300;
}
.pivot p strong {
	font-weight: 900;
}
h4.padding-s-top {
	margin-top: 0px;
	max-width: 770px;
    margin: 0 auto;
}
// Pivots ----------------------------------------------------------------------
.pivot a {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	width: 100%;
	height: 240px;
	background-position: center bottom;
	background-repeat: no-repeat;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
	text-decoration: none;
}
.pivot .about {
	background-image: url("/assets/images/fsd-icon-color.svg");
	background-position: center center;
	background-position: center center;
    background-size: 115px;
    background-position-y: 60%;
}
.pivot .brand {
    background-color: #97e4ff;
    position: relative;
    overflow: hidden;
}

.pivot .brand .saw {
    background-image: url("/assets/images/frontpage/logo-construction.svg");
    position: absolute;
    background-size: cover;
    background-position: center center;
    content: '';
    width: 200px;
    height: 200px;
    bottom: -100px;
    -webkit-transition: bottom .5s ease-out;
  -moz-transition: bottom .5s ease-in;
  -o-transition: bottom .5s ease-in;
  transition: bottom .5s ease-out;
}
.pivot .brand:hover .saw {
    bottom: -70px;
    -webkit-transition: bottom .5s ease-in;
  -moz-transition: bottom .5s ease-in;
  -o-transition: bottom .5s ease-in;
  transition: bottom .5s ease-in;
}


@-webkit-keyframes rotating /* Safari and Chrome */
{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.pivot .brand:hover .saw {
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 200px;
    height: 200px
}
.pivot .web {
	background-image: url("/assets/images/frontpage/web.jpg");
	background-position-y: 20px;
}
.pivot .web:hover {
	background-position-y: 5px;
}
.pivot .market {
	background-image: url("/assets/images/frontpage/market.jpg");
	background-position-y: 20px;
}
.pivot .market:hover {
	background-position-y: 5px;
}
}

// Middle Row ------------------------------------------------------------------
.contain-image {
	display: flex;
    align-items: center;
    height: 45px;
    max-width: 200px;
    flex-basis: 20%;
}
.contain-image img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.maxwidth-l {
    max-width: 850px;
}
// Responsive ------------------------------------------------------------------
@media screen and (max-width: $screen-laptop) {
	.frontpage nav {
		position: static;
		background: #000;
	}
	.hero-logo {
		display: none;
	}
	.pivot p {
		font-size: 17px;
	}
}
@media screen and (max-width: $screen-tablet) {
	.logo-string {
		flex-wrap: wrap;
	    flex-direction: row;
	    justify-content: center;
	}
	.logo-string img {
		margin: 0 auto;
	}
	.contain-image {
		flex-basis: 33%;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: $screen-tablet), screen and (max-height: 600px) {
	.pivot {
		flex-wrap: wrap;
	}
}

// Because youtube videos don't auto-play on mobile we need mobile styling
// that's not dependant on viewport size
.mobile .hero-overlay {
	position: static;
	padding: 40px 20px;
	height: auto;
	opacity: 1;
	pointer-events: all;
}
.mobile .hero-logo,
.mobile .spinner,
.mobile .hero-replay,
.mobile .controls,
.mobile .hero-buttons a:first-child {
	display: none;
}
.mobile .hero-buttons {
	margin-bottom: 20px;
}
.mobile .hero-buttons a:nth-last-child(-n+2) {
	display: inline-block;
	margin: 0 5px;
}
.mobile .youtube-video {
	display: block;
	border-top: 1px solid rgba(255,255,255,0.1);
}
.mobile .youtube-video iframe {
	opacity: 1;
	pointer-events: all;
}
.fs_logo_svg svg {
	overflow: visible;
}
// Feature Block ------------
.feature-block {
	display: flex;
}
.feature-block > div {
	width: 50%;
}
.feature-block img {
	max-width: 100%;
	display: block;
}
.feature-block .border-top {
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}
.feature-block .border-bottom {
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}

// Responsive ------------------------------------------------------------------
@media screen and (max-width: $screen-laptop) {
	.feature-block {
		max-height: 100%;
		flex-direction: column;
	}
	.feature-block > div {
		width: 100%;
		flex-basis: auto;
	}
	.feature-block > .flex-center {
		padding: 120px 30px;
	}
	.feature-block-content {
		order: 1;
	}
}
@media screen and (max-width: $screen-tablet) {
	.feature-block > .flex-center {
		margin: 0 auto;
		padding: 80px 20px;
	}
}