// Gridgrow
.grid-2>div.gridgrow, .grid-3>div.gridgrow, .grid-4>div.gridgrow {
}
.gridgrow, .gridgrow.animate-grow {
	position: relative;
	width: 32%;
	min-width: 328px;
	padding-bottom: 2%;
	height: 500px;
	overflow: visible;
	position: relative;
}
.gridgrow-image-holder {
	height: calc(100% * 0.7 + 4%);
	margin-top: -4%;
}
/*.animate-groww {
	overflow: visible !important;
}*/
.animate-groww .gridgrow-image-holder {
	overflow: visible !important;
	top: 0px;
	/*height: 100%;
	transition: top 1s height 1s;*/
}
.gridgrow.animate-groww .card-footer {
	display: none;
}
.fixed {
	position: fixed !important;
}
/*.animate-groww .wipe {
  transform: scale(12);
  transition: all .3s linear;
}*/
/*.wipe {
	width: 108%;
    height: 104%;
    margin: 0%;
    padding: 4%;
    left: -4%;
    right: -4%;
    top: -4%;
    min-width: 373px;
    transform: scale(1);
    position: absolute;
}*/
.animate-groww .gridwrap {
	overflow: visible;
}
.gridgrow.animate-grow .card-footer{
	display: none;
}
.animated .gridgrow.animate-groww {
	z-index: 75;
}
/*.animated .gridgrow.animate-grow .gridgrow-image-holder {
	top: auto !important;
	justify-self: center;
	margin: 0 !important;
	max-width: 1100px;
	z-index: 75;
}*/
.animated .gridgrow.animate-grow .gridgrow-image {
    z-index: 75;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated .fade-in {
	  -webkit-animation: fadein 2s linear; /* Safari 4+ */
	  -moz-animation:    fadein 2s linear; /* Fx 5+ */
	  -o-animation:      fadein 2s linear; /* Opera 12+ */
	  animation:         fadein 2s linear; /* IE 10+, Fx 29+ */
}
.animated .gridgrow.animate-groww .gridwrap {
	overflow: visible;
}
/*.gridgrow .adjust-width .gridgrow-image {
	max-width: 75%;
    width: 75%;
}*/
.work .animated .featured-tile .gridgrow-image-holder {
	/*width: 100%;*/
	margin: 0;
    overflow: hidden;
    position: relative;
	transition: all 1s;
}
.gridgrow .gridgrow-image {
    color: #FFF;
    display: block;
    position: relative;
    overflow: hidden;
	/*width: 200px;
	height: 200px;*/
    z-index: 55;
    margin-bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.work .gridgrow.featured {
	position: relative;
	/*width:100%;*/
	margin-bottom: 2%;
	max-width: 100%;
}
.gutter-guide {
	width: 1.9%;
}
// hover
.gridgrow svg {
	opacity: 0;
	height: 24px;
	-webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.gridgrow-view {
	opacity: 0;
	padding-right: 20px;
	min-height: 32px;
	-webkit-transition: opacity .5s, padding-right 1.5s;
    transition: opacity .5s, padding-right 1.5s;
    min-height: 17px;
    font-weight: 500;
    font-size: 14px;
}
.card-footer-layer {
	position: absolute;
	padding-top: 46px;
}
.gridgrow:hover, .gridgrow:hover a {
	cursor: pointer;
}
.gridgrow:hover .gridgrow-view {
	opacity: 1;
	padding-right: 30px;
	-webkit-transition: opacity .5s, padding-right 1.5s;
    transition: opacity .5s, padding-right 1.5s;
}
.gridgrow:hover svg {
	opacity: 1;
	-webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.gridgrow-excerpt {
	min-height: 45px;
	font-weight: 900;
	font-size: 17px;
	opacity: 1;
	-webkit-transition: opacity 2s;
    transition: opacity 2s;
}
.gridgrow:hover .card-footer .gridgrow-excerpt {
	opacity: 0;
	-webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.gridgrow a {
	text-decoration: none;
}
.gridgrow .gridwrap {
	-webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    -webkit-transition: padding 1s cubic-bezier(0.4,0,0.2,1), margin 1s cubic-bezier(0.4,0,0.2,1), box-shadow 1s cubic-bezier(0.4,0,0.2,1);
    transition: padding 1s cubic-bezier(0.4,0,0.2,1), margin 1s cubic-bezier(0.4,0,0.2,1), box-shadow 1s cubic-bezier(0.4,0,0.2,1);
    position: relative;
}
.gridgrow:hover .gridwrap {
    padding: 4% 4%;
    margin: -4% -4%;
}
.gridgrow-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 56;
    color: currentColor;
}
.gridgrow-image-holder {
	margin-left: -4%;
    margin-right: -4%;
    /*height: 75%;
    top: -4.5%;*/
    overflow: hidden;
    position: relative;
}
.work .featured .gridgrow-image-holder .gridgrow-image {
	margin-top: 0;
}
.gridgrow-image-holder .gridgrow-image {
	/*margin-top: 4.5%;*/
}
.gridgrow .card-footer {
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100% * .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gridgrow .card-logo-holder {
	height: 45px;
    max-width: 200px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 12px;
}
.gridgrow .card-logo.leadgate {
	max-height: 60%;
	max-width: 80%;
}
.gridgrow .card-logo {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}
// hide featured stuff on non featured
.gridgrow .featured-star {
	display: none;
}
// change the featured card look for 2 col and above

@media screen and (min-width: $screen-tablet-s) {
	/*featured test*/
	.work .featured-tile {
		width: 100%;
		height: 400px;
	}

	.work .featured-tile .gridgrow-image-holder {
	    width: 72%;
	    float: right;
	    height: 112%;
	    margin-top: -2.5%;
	}
	.work .featured-tile.gridgrow .card-footer {
	    padding-left: 40px;
	    padding-right: 40px;
	    width: 32%;
	    height: 100%;
	    margin-top: 0;
	    display: flex;
	    box-sizing: border-box;
	    flex-direction: column;
	}
	.work .featured-tile .gridgrow-image {
		margin: 0;
	}
	.work .featured-tile.gridgrow:hover .gridwrap {
	    padding: 1% 1%;
	    margin: -1% -1%;
	}
	.work .animated .featured-tile.gridgrow .card-footer {
		display: none;
	}

	.work .gridgrow.gridgrow.featured .gridwrap {
	    flex-direction: row;
	    display: flex;
	}
	.gridgrow .card-footer {
	    padding-left: 40px;
	    padding-right: 40px;
	}
	.work .gridgrow.gridgrow.featured:hover .gridwrap {
		padding: 1% 1%;
	    margin: -1% -1%;	
	}
	.work .gridgrow.gridgrow.featured {
		height: 400px;
	}
	.work .gridgrow.featured-tile .card-footer {
	    margin-top: auto;
	    order: 1;
	    justify-content: space-between;
	}
	.work .gridgrow.featured-tile .featured-star {
	    margin-top: 40px;
	    background: #ffffff;
	    order: 1;
	    padding: 8px;
	    box-sizing: border-box;
	    width: 25px;
	    height: 21px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    border-radius: 1px;
	}
	.work .gridgrow.featured-tile .excerpt-group {
		order: 2;
	}
	.work .gridgrow.featured-tile .card-footer-layer {
	    order: 3;
	    position: relative;
	    padding-top: 0;
	    margin-bottom: 40px;
	    justify-content: flex-start;
	}
	.work .gridgrow.featured .gridgrow-image-holder {
	    margin-left: 0;
	    margin-right: -4%;
	    height: 111%;
	    width: 71.333%;
	    top: -5.5%;
	    justify-self: flex-end;
	    order: 2;
	}
	.work .gridgrow.featured .gridgrow-image {
		max-width: 78%;
	    width: 78%;
	    min-height: 78%;
	    margin-right: 2.5%;
	}
	.work .gridgrow.featured-tile {
		opacity: 1;
		display: block;
	}
	.work .gridgrow.featured-tile .gridgrow-view {
		opacity: 1;
		min-height: 17px;
	    font-weight: 500;
	    font-size: 14px;
	}
	.work .gridgrow.featured-tile .card-footer-layer svg {
		height: 24px;
		opacity: 1;
	}
	.work .gridgrow.featured-tile .featured-star svg, .gridgrow.featured-tile .featured-star {
		opacity: 1;
	}
	.work .gridgrow.featured-tile:hover .card-footer .gridgrow-excerpt {
		opacity: 1;
	}
}
@media screen and (max-width: $screen-desktop-s ) {

}
@media screen and (max-width: 1120px ) {
	.gridgrow {
		width: 49%;
	}
	.work .gridgrow.featured-tile {
		width:100%;
	}
}
@media screen and (max-width: $screen-laptop ) {
	/*.animated .gridgrow .gridgrow-image {
		max-width: 100%;
		background-position: top;
		min-height: 1000px;
		margin-top: 22%;
		transition: max-width 1s, background-position 1s, min-height 1s, margin-top 1s;
	}
	.animated .gridgrow .besc .gridgrow-image {
		max-width: 100%;
		background-position: top;
		min-height: 1000px;
		margin-top: 22%;
		transition: max-width 1s, background-position 1s, min-height 1s, margin-top 1s;
	}
	.work .animated .featured-tile.gridgrow .gridgrow-image {
		max-width: 100%;
		background-position: top;
		min-height: 1000px;
		margin-top: 22%;
		transition: max-width 1s, background-position 1s, min-height 1s, margin-top 1s;
	}*/
}
@media screen and (max-width: $screen-tablet) {
	.card-footer-layer {
		padding-top: 46px;
	}
}
@media screen and (max-width: $screen-tablet-s) {
	.gridgrow {
		width: 100%;
	}
	.card-footer-layer {
		padding-top: 76px;
	}
	.gridgrow .card-footer {
	    margin-top: 1%;
    }
    .gridgrow:hover .gridwrap {
	    padding: 1% 1%;
	    margin: -1% -1%;
	}
}
@media screen and (max-width: $screen-mobile-l) {
	.card-footer-layer {
		padding-top: 76px;
	}
	.gridgrow-image-holder {
	    height: 70%;
    }
}
@media screen and (max-width: $screen-mobile-m) {
}
@media screen and (max-width: 420px) {
}
@media screen and (max-width: 365px) {
	.gridgrow, .gridgrow.animate-grow {
	    min-width: 280px;
	}
}
@media screen and (max-width: 365px) {
	.gridgrow, .gridgrow.animate-grow {
	    min-width: 280px;
	}
}
@media screen and (max-width: 320px) {
	.gridgrow, .gridgrow.animate-grow {
	    min-width: 240px;
	}
}