.no-sections {
    width: 100%;
    height: 100%;
    text-align: center;
    background: #efefef;
    padding-top: 120px;
    padding-bottom: 120px;
    border-top: 2px dotted #aaa;
    border-bottom: 2px dotted #aaa;
}