.icon-left {
  margin-right: 10px;
}
.twitter-icon {
	width: 16px;
	fill: #eeeeee;
}
.twitter-icon:hover {
	fill: #000000;
}
.linkedin-icon {
	width: 16px;
	fill: #eeeeee;
}
.linkedin-icon:hover {
	fill: #000000;
}
.flex-center .twitter-icon, .flex-center .linkedin-icon{
	margin-left: 5px;
    margin-right: 5px;
}
