// Container -------------------------------------------------------------
.container {
	max-width: $container_size;
	margin: 0 auto;
	position: relative;
}
.container-large {
	max-width: $container_size_wide;
	margin: 0 auto;
	position: relative;
}
section.full-height {
	height: 100vh;
}
section.full-height .row {
	height: 100%;
}
.elements-wrapper {
	width: 100%;
}
// Span ------------------------------------------------------------------------
.col-1 {
	flex-basis: 8.3333%;
}
.col-2 {
	flex-basis: 12.6666%;
}
.col-3 {
	flex-basis: 25%;
}
.col-4 {
	flex-basis: 33.3333%;
}
.col-5 {
	flex-basis: 41.666%;
}
.card-block.col-6 {
	flex-basis: calc(50% - 20px);
}
.col-6 {
	flex-basis: 50%;
}
.col-7 {
	flex-basis: 58.3333%;
}
.col-8 {
	flex-basis: 58.3333%;
}
.col-9 {
	flex-basis: 75%;
}
.col-10 {
	flex-basis: 83.3333%;
}
.col-11 {
	flex-basis: 91.6666%;
}
.col-12 {
	flex-basis: 100%;
}
.span-space {
	flex-basis: 8.333%
}
.span-1-0 {
	flex-basis: 20%;
}
.span-1 {
	flex-basis: 25%;
}
.span-1-1 {
	flex-basis: 33.33%;
}
.span-2 {
	flex-basis: 50%;
}
.span-3 {
	flex-basis: 75%;
}
.span-3-1 {
	flex-basis: 66.66%;
}
.span-4 {
	flex-basis: 100%;
}
// sections
.section-row-blocks .unconstrained .col-6 {
	flex-basis: calc(50% - 5px);
}
// Text ------------------------------------------------------------------------

// Grid ------------------------------------------------------------------------
.grid-2,
.grid-3,
.grid-4 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.grid-2 > div,
.grid-3 > div,
.grid-4 > div {
	margin-top: 60px;
}
.grid-2 img,
.grid-3 img,
.grid-4 img {
	max-width: 100%;
}
.grid-2 > div:nth-child(-n+2),
.grid-3 > div:nth-child(-n+3),
.grid-4 > div:nth-child(-n+4) {
	margin-top: 0;
}
.grid-4 > div {
	flex-basis: 25%;
}
.grid-3 > div {
	flex-basis: 33.33%;
}
.grid-2 > div {
	flex-basis: 50%;
}

// Container + Grid padding ----------------------------------------------------
.container,
.grid-2 > div,
.grid-3 > div,
.grid-4 > div {
	padding-left: 40px;
	padding-right: 40px;
}
.grid-2.narrow > div,
.grid-3.narrow > div,
.grid-4.narrow > div {
	padding-left: 0;
	padding-right: 0;
}
.container.grid-2,
.container.grid-3,
.container.grid-4 {
	padding-left: 0;
	padding-right: 0;
}

// Sidebar ---------------------------------------------------------------------
.flex-sidebar {
	position: relative;
}
.flex-sidebar .content {
	width: 75%;
	margin-left: auto;
}
.content .grid-3 {
	justify-content: space-between;
}
.content .grid-3 > div {
	padding: 0;
	max-width: 210px;
}

// Flexbox ---------------------------------------------------------------------
.flex-container {
	position: relative;
	padding: 0;
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
  }
  .flex-item.column {
	flex-direction: column;
  }
  .flex-item {
	padding: 0px;
	margin: 0px;
  }
  //horizontal align using justify
  .h_content_center {
	-webkit-justify-content: center;
	justify-content: center;
  }
  .h_content_center img {
	margin: 0 auto;
    display: flex;
  }
  .h_content_start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
  }
  .h_content_end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
  }
  .h_content_space-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
  }
  .h_content_space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
  }
  // vertical
  .v_content_start {
	-webkit-align-items: center;
	align-items: center;
  }
  .v_content_center {
	-webkit-align-items: center;
	align-items: center;
  }
  .v_content_end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
  }

  //COLUMN horizontal align using align
  .column.h_content_center {
	-webkit-align-items: center;
	align-items: center;
  }
  .column.h_content_start {
	-webkit-align-items: flex-start;
	align-items: flex-start;
  }
  .column.h_content_end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
  }
  //COLUMN Vertical align using justify
  .column.v_content_center {
	-webkit-justify-content: center;
	justify-content: center;
  }
  .column.v_content_start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
  }
  .column.v_content_end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
  }
  //horizontal align self using justify
  .h_align_self_start {
	-webkit-justify-self: flex-start;
	justify-self: flex-start;
  }


.flex,
.flex-sidebar {
	display: flex;
	justify-content: space-between;
}
.justify-children-start {
	justify-content: flex-start;
	text-align: left;
	margin-right: auto;
}
.justify-self-start {
	justify-self: flex-start;
	text-align: left;
	margin-right: auto;
}
.align-children-start {
	align-items: flex-start;
	margin-bottom: auto;
}
.align-self-start {
	align-self: flex-start;
	margin-bottom: auto;
}
.justify-children-end {
	justify-content: flex-end;
	text-align: right;
	margin-left: auto;
}
.justify-self-end {
	justify-self: flex-end;
	text-align: right;
	margin-left: auto;
}
.align-children-end {
	align-items: flex-end;
	margin-top: auto;
}
.align-self-end {
	align-self: flex-end;
	margin-top: auto;
}
.justify-children-center {
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.justify-self-center {
	justify-self: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.align-children-center {
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
}
.align-self-center {
	align-self: center;
	margin-top: auto;
	margin-bottom: auto;
}
.justify-children-stretch {
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}
.justify-self-stretch {
	justify-self: space-between;
	margin-left: auto;
	margin-right: auto;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-center.left {
	justify-content: flex-start;
}
.flex-center .left {
	text-align: left;
}
.flex-h-center {
	display: flex;
	justify-content: center;
}
.flex-center-vertical {
	display: flex;
	align-items: center;
}
.self-top {
	align-self: flex-start;
}
.wrap {
	flex-wrap: wrap;
}
.flex.wrap {
	flex-wrap: wrap;
}
// Center text inside centered element -----------------------------------------
.center,
.center-fixed {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
// Right text inside element -----------------------------------------
.right {
	text-align: right;
}
// Sections
.section-carousel {
	overflow-x: hidden;
}
// Correct lines on mobile
.section-row-blocks {
	margin: -1px 0px -1px 0px;
}
// Responsive -----------------------------------------------------------------
@media screen and (max-width: $large) {
	.content .grid-3 > div {
		max-width: 30%;
	}
	.grid-4 > div {
		flex-basis: 33%;
	}
	.grid-2 > div,
	.grid-3 > div,
	.grid-4 > div,
	.grid-4 > div:nth-child(4) {
		margin-top: 40px;
	}
	.grid-2 > div:first-child,
	.grid-3 > div:first-child,
	.grid-4 > div:first-child {
		margin-top: 0;
	}
}
@media screen and (max-width: $screen-tablet) {
	.justify-children-end {
		justify-content: flex-start;
		text-align: left;
		margin-left: 0;
		margin-right: auto;
	}
	.justify-self-end {
		justify-self: flex-start;
		text-align: left;
		margin-right: auto;
		margin-left: 0;
	}
}
@media screen and (max-width: $medium-wide) {
	.flex-sidebar .content {
		margin: auto;
		max-width: 100%;
		width: 100% !important;
	}
	.content .grid-3 > div {
		max-width: 45%;
	}
	.grid-2 > div {
		flex-basis: 100%;
	}
	.grid-3 > div {
		flex-basis: 50%;
	}
	.grid-2 > div,
	.grid-2 > div:nth-child(2),
	.grid-3 > div:nth-child(3) {
		margin-top: 40px;
	}
	.grid-2 > div:first-child,
	.grid-3 > div:first-child,
	.grid-4 > div:first-child {
		margin-top: 0;
	}
	.container,
	.grid-2 > div,
	.grid-3 > div,
	.grid-4 > div {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width: $medium) {
	.grid-4 > div {
		flex-basis: 50%;
	}
	.grid-4 > div:nth-child(3) {
		margin-top: 40px;
	}
}
@media screen and (max-width: $small) {
	.center {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}
	.content .grid-3 > div:first-child {
		margin-top: 0;
	}
	.content .grid-3 > div {
		max-width: 100%;
	}
	.grid-3 > div,
	.grid-4 > div {
		flex-basis: 100%;
	}
	.grid-2 > div,
	.grid-3 > div,
	.grid-4 > div,
	.grid-3 > div:nth-child(2),
	.grid-3 > div:nth-child(3),
	.grid-4 > div:nth-child(2),
	.grid-4 > div:nth-child(3),
	.grid-4 > div:nth-child(4) {
		margin-top: 25px;
	}
	.grid-2 > div:first-child,
	.grid-3 > div:first-child,
	.grid-4 > div:first-child {
		margin-top: 0;
	}
}
// Vertical spacing ------------------------------------------------------------
$padding-xxs: 10px;
$padding-xs: 20px;
$padding-s: 40px;
$padding-m: 80px;
$padding-l: 120px;
$padding-xl: 160px;
$padding-xxl: 200px;

.padding-xs {
	padding-top: $padding-xs;
	padding-bottom: $padding-xs;
}
.padding-s {
	padding-top: $padding-s;
	padding-bottom: $padding-s;
}
.padding-m {
	padding-top: $padding-m;
	padding-bottom: $padding-m;
}
.padding-l {
	padding-top: $padding-l;
	padding-bottom: $padding-l;
}
.padding-xl {
	padding-top: $padding-xl;
	padding-bottom: $padding-xl;
}
.padding-xxs-top {
	padding-top: $padding-xxs;
}
.padding-xs-top {
	padding-top: $padding-xs;
}
.padding-s-top {
	padding-top: $padding-s;
}
.padding-m-top {
	padding-top: $padding-m;
}
.padding-l-top {
	padding-top: $padding-l;
}
.padding-xl-top {
	padding-top: $padding-xl;
}
.padding-xxl-top {
	padding-top: $padding-xxl;
}
.padding-xs-bottom {
	padding-bottom: $padding-xs;
}
.padding-s-bottom {
	padding-bottom: $padding-s;
}
.padding-m-bottom {
	padding-bottom: $padding-m;
}
.padding-l-bottom {
	padding-bottom: $padding-l;
}
.padding-xl-bottom {
	padding-bottom: $padding-xl;
}
.padding-xxl-bottom {
	padding-bottom: $padding-xxl;
}
// Responsive ------------------------------------------------------------------
@media screen and (max-width: $screen-mobile-l) {
	.padding-xxl {
		padding-top: $padding-xl;
		padding-bottom: $padding-xl;
	}
	.padding-xxl-top {
		padding-top: $padding-xl;
	}
	.padding-xxl-bottom {
		padding-bottom: $padding-xl;
	}
	.padding-xl {
		padding-top: $padding-l;
		padding-bottom: $padding-l;
	}
	.padding-xl-top {
		padding-top: $padding-l;
	}
	.padding-xl-bottom {
		padding-bottom: $padding-l;
	}
	.padding-l {
		padding-top: $padding-m;
		padding-bottom: $padding-m;
	}
	.padding-l-top {
		padding-top: $padding-m;
	}
	.padding-l-bottom {
		padding-bottom: $padding-m;
	}
	.padding-m {
		padding-top: $padding-s;
		padding-bottom: $padding-s;
	}
	.padding-m-top {
		padding-top: $padding-s;
	}
	.padding-m-bottom {
		padding-bottom: $padding-s;
	}
}