.list-features {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
}
.list-features li {
	margin: 0 5px;
	width: 100px;
}
.no-list {
	list-style: none;
	padding-left: 0px;
}
.list-features li a {
	transition: $transition-all;
	display: block;
}
.list-features li a:hover {
	opacity: 0.4;
}
.list-features p {
	margin: 10px auto 0;
	line-height: 1.4;
	font-size: 14px;
	font-weight: 400;
	color: $metal;
}
.list-features span {
	display: block;
	line-height: 1.4;
	font-size: 12px;
	font-weight: 400;
}
.list-features svg + span {
	margin: 10px auto 0;
}

// .rows – Full width, wrapping list
.list-features.rows {
	flex-wrap: wrap;
	max-width: 260px;
}
.list-features.rows li {
	padding: 20px 0;
	min-width: 120px;
	margin: 0;
	flex-grow: 1;
}

// .vertical — Makes the list vertical
.list-features.vertical {
	display: block;
}
.list-features.vertical li,
.list-features.vertical .link {
	display: flex;
	align-items: center;
	width: 100%;
	color: $aluminum;
	font-weight: 300;
	margin: 0;
}
.list-features.vertical li a {
	display: inline-block;
}
.list-features.vertical li svg {
	opacity: 0.8;
}
.list-features.vertical p {
	margin: 0 0 0 12px;
	padding: 12px 0;
	max-width: 100%;
}

// .night — Adjusts list to dark backgrounds
.list-features.night p {
	color: #fff;
}
.list-features.night.vertical p {
	color: $gray;
}

// Responsive ------------------------------------------------------------------
@media only screen and (min-width: $screen-tablet-s) {
	.list-features.rows {
		max-width: 580px;
	}
	.list-features li {
		margin: 0 10px;
	}
	.list-features p {
		font-size: 13px;
		line-height: 1.4;
	}
	.list-features span {
		font-size: 14px;
	}
}
@media only screen and (min-width: $screen-laptop) {
	.list-features.rows {
		max-width: 1100px;
	}
}