$margin-xxxs: 5px;
$margin-xxs: 10px;
$margin-xs: 20px;
$margin-s: 40px;
$margin-m: 80px;
$margin-l: 120px;
$margin-xl: 160px;
$margin-xxl: 200px;

// Sizes -----------------------------------------------------------------------
.margin-xxxs {
	margin-top: $margin-xxxs;
	margin-bottom: $margin-xxxs;
}
.margin-xxs {
	margin-top: $margin-xxs;
	margin-bottom: $margin-xxs;
}
.margin-xs {
	margin-top: $margin-xs;
	margin-bottom: $margin-xs;
}
.margin-s {
	margin-top: $margin-s;
	margin-bottom: $margin-s;
}
.margin-m {
	margin-top: $margin-m;
	margin-bottom: $margin-m;
}
.margin-l {
	margin-top: $margin-l;
	margin-bottom: $margin-l;
}
.margin-xl {
	margin-top: $margin-xl;
	margin-bottom: $margin-xl;
}
.margin-xxl {
	margin-top: $margin-xxl;
	margin-bottom: $margin-xxl;
}
.margin-xxs-top {
	margin-top: $margin-xxs;
}
.margin-xs-top {
	margin-top: $margin-xs;
}
.margin-s-top {
	margin-top: $margin-s;
}
.margin-m-top {
	margin-top: $margin-m;
}
.margin-l-top {
	margin-top: $margin-l;
}
.margin-xl-top {
	margin-top: $margin-xl;
}
.margin-xxl-top {
	margin-top: $margin-xxl;
}
.margin-xxxs-bottom {
	margin-bottom: $margin-xxxs;
}
.margin-xxs-bottom {
	margin-bottom: $margin-xxs;
}
.margin-xs-bottom {
	margin-bottom: $margin-xs;
}
.margin-s-bottom {
	margin-bottom: $margin-s;
}
.margin-m-bottom {
	margin-bottom: $margin-m;
}
.margin-l-bottom {
	margin-bottom: $margin-l;
}
.margin-xl-bottom {
	margin-bottom: $margin-xl;
}
.margin-m-right {
	margin-right: $margin-m;
}
.margin-m-left {
	margin-left: $margin-m;
}
.margin-s-right {
	margin-right: $margin-s;
}
.margin-s-left {
	margin-left: $margin-s;
}
.margin-xs-right {
	margin-right: $margin-xs;
}
.margin-xs-left {
	margin-left: $margin-xs;
}
.margin-xxs-right {
	margin-right: $margin-xxs;
}
.margin-xxxs-right {
	margin-right: $margin-xxxs;
}
.margin-xxs-left {
	margin-left: $margin-xxs;
}

// Responsive ------------------------------------------------------------------
@media only screen and (max-width: $screen-laptop) {
	.margin-l {
		margin-top: $margin-m;
		margin-bottom: $margin-m;
	}
	.margin-l-bottom {
		margin-bottom: $margin-m;
	}
	.margin-l-top {
		margin-top: $margin-m;
	}
	.margin-m {
		margin-top: $margin-s;
		margin-bottom: $margin-s;
	}
	.margin-m-bottom {
		margin-bottom: $margin-s;
	}
	.margin-m-top {
		margin-top: $margin-s;
	}
	.margin-s {
		margin-bottom: $margin-xs;
		margin-top: $margin-xs;
	}
	.margin-s-bottom {
		margin-bottom: $margin-xs;
	}
	.margin-s-top {
		margin-top: $margin-xs;
	}
}
