// Maxwidth variables ----------------------------------------------------------
$minwidth-xxxxs: 200px;
$minwidth-xxxs: 300px;
$minwidth-xxs: 500px;
$minwidth-xs: 600px;
$minwidth-s: 700px;
$minwidth-m: 800px;
$minwidth-l: 900px;
$minwidth-xl: 1000px;

// Sizes -----------------------------------------------------------------------
.minwidth-xxxxs {
	min-width: $minwidth-xxxxs;
}
.minwidth-xxxs {
	min-width: $minwidth-xxxs;
}
.minwidth-xxs {
	min-width: $minwidth-xxs;
}
.minwidth-xs {
	min-width: $minwidth-xs;
}
.minwidth-s {
	min-width: $minwidth-s;
}
.minwidth-m {
	min-width: $minwidth-m;
}
.minwidth-l {
	min-width: $minwidth-l;
}
.minwidth-xl {
	min-width: $minwidth-xl;
}

// Responsive ------------------------------------------------------------------
@media screen and (max-width: $screen-tablet) {
	.minwidth-xl {
		min-width: $minwidth-l;
	}
	.minwidth-l {
		min-width: $minwidth-m;
	}
	.minwidth-m {
		min-width: $minwidth-s;
	}
	.minwidth-s {
		min-width: $minwidth-xs;
	}
	.minwidth-xs {
		min-width: $minwidth-xxs;
	}
	.minwidth-s-tablet {
		min-width: $minwidth-s;
	}
	.minwidth-xs-tablet {
		min-width: $minwidth-xs;
	}
	.minwidth-xxs-tablet {
		min-width: $minwidth-xxs;
	}
	.minwidth-xxxs-tablet {
		min-width: $minwidth-xxxs;
	}
	.tablet-minwidth-m {
		min-width: $minwidth-m;
	}
}
@media screen and (max-width: $screen-tablet-s) {
	.tablet-minwidth-s {
		min-width: 400px;
	}
}
@media screen and (max-width: $screen-mobile-l) {
	.minwidth-xxs,
	.minwidth-xs,
	.minwidth-s {
		min-width: 100%;
	}
	.minwidth-xs-tablet {
		min-width: $minwidth-xs;
	}
	.mobile-minwidth-l {
		min-width: 300px;
	}
}
@media screen and (max-width: $screen-mobile-m) {
	.mobile-minwidth-m {
		min-width: 250px;
	}
}
@media screen and (max-width: $screen-mobile-s) {
	.mobile-minwidth-s {
		min-width: 200px;
	}
}
