.portfolio h1, .portfolio h2, .portfolio h3, .portfolio h4, .portfolio h5, .portfolio h6, .portfolio p {
	margin-top: 0px;
}
.portfolio .page-title {
	color: #fff;
}
.portfolio .color-cloud {
	opacity: 0.3;
}
.portfolio .color-white > p, .portfolio .color-white > span, .portfolio .color-white > div, .portfolio .color-white a {
	color: #ffffff;
}
.portfolio .color-oil > p, .portfolio .color-oil > span, .portfolio .color-oil > div, .portfolio .color-oil a {
	color: $oil;
}
.portfolio .work_loading {
	display: none !important;
	opacity: 0 !important;
	visibility: hidden !important;
}
.portfolio .banner-featured {
	max-width: 100%;
    width: 1200px;
    padding-left: 20px;
	padding-right: 20px;
	/*margin-top: calc(-10%);*/
    /*margin-bottom: calc(-10%);*/
}
.portfolio .banner-featured img {
	width: 100%;
	}
.portfolio .cs-banner {
	min-height: 100vh;
}
.portfolio .helpinghands .logo-holder {
	height: 75px;
}
.portfolio .logo-holder {
	height: 45px;
    max-width: 250px;
    position: relative;
    box-sizing: border-box;
}
.portfolio .logo-holder .client-logo {
	max-width: 100%;
    max-height: 100%;
    width: auto;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}
.portfolio .section-title {
	font-weight: 900;
}
.portfolio .section-title.thin {
	font-weight: 300;
}
.portfolio #content-king .section-title {
	font-weight: 300;
}
.portfolio.besc .banner-featured {
	padding-bottom: 0;
}
.portfolio .next-case {
	display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}
.night .related-projects {
	background-color: #000000;
}
.portfolio .red-block {
	width: 255px;
	max-width: 100%;
	max-height: 100%;
	height: 253px;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
	background-color: #AD0000
}
.portfolio .red-block span {
	width: 122px;
	height: 123px;
	max-width: 45%;
	max-height: 45%;
	background-color: #910000;
	display: block;
}
.portfolio .gold-block {
	width: 255px;
	height: 253px;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
	background: linear-gradient(196deg, #F3CE6D 0%, #BF822F 100%);
}
.portfolio .gold-block span {
	width: 122px;
	height: 123px;
	max-width: 45%;
	max-height: 45%;
	display: block;
	background: -webkit-gradient(linear, left bottom, left top, from(#deb35a), color-stop(17%, #9a5624), color-stop(30%, #edcb74), color-stop(36%, #d8a135), color-stop(42%, #fcf5db), color-stop(72%, #d2a452), color-stop(76%, #4f2e14), color-stop(85%, #f6e789), to(#f6f3c6));
	background: -webkit-linear-gradient(bottom, #deb35a 0%, #9a5624 17%, #edcb74 30%, #d8a135 36%, #fcf5db 42%, #d2a452 72%, #4f2e14 76%, #f6e789 85%, #f6f3c6 100%);
	background: -o-linear-gradient(bottom, #deb35a 0%, #9a5624 17%, #edcb74 30%, #d8a135 36%, #fcf5db 42%, #d2a452 72%, #4f2e14 76%, #f6e789 85%, #f6f3c6 100%);
	background: linear-gradient(0deg, #deb35a 0%, #9a5624 17%, #edcb74 30%, #d8a135 36%, #fcf5db 42%, #d2a452 72%, #4f2e14 76%, #f6e789 85%, #f6f3c6 100%);
}
// Code case study
.portfolio #results .col-5 {
	max-width: 410px;
}
.portfolio #results .col-5 p span {
	padding-left: 5px;
	padding-right: 5px;
  }
//make standard feature
/*
.portfolio #question-mark {
	background-size: 45% !important;
}*/
.portfolio #question-mark .column-2 img {
	opacity: 0;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.wrapper-portfolio .fade-in {
	animation-duration: 4.00s;
    animation-name: fadein;
}
.portfolio .next-case.case-2 {
	justify-content: flex-end;
}
.portfolio .next-case svg {
	flex-basis: 25px;
	min-width: 25px;
}
@keyframes slideInUdp {
    from {
        transform: translate(0%, 5%);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
.animate .wrapper-portfolio .wrap {
    animation-duration: 2.00s;
    animation-name: slideInUp;
}
.animate .wrapper-portfolio .wrap .container, .wrapper-portfolio .wrap img {
    animation-duration: 4.75s;
    animation-name: slideInUp;
}
@media screen and (min-width: $screen-tablet) and (max-width: $screen-desktop-s) {
	.portfolio .section2 .padding-xl-top {
		padding-top: $padding-l;
	}
	.portfolio .contain-tablet-s {
		padding-left: 20px;
		padding-right: 20px;
	}
	.portfolio .section2 .padding-xl-bottom {
		padding-top: $padding-l;
	}
	.portfolio .banner-services.span-1 {
		flex-basis: 35%
	}
	.portfolio .banner-excerpt.span-3 {
		flex-basis: 65%
	}
}

@media screen and (max-width: $screen-laptop) {
	.portfolio .related-case .maxwidth-s {
	    max-width: 350px;
	}
}
@media screen and (max-width: $screen-tablet) {
	.portfolio .banner-featured {
		padding-bottom: 0;
		padding-top: 0;
	}
	.portfolio .maxwidth-xs {
    	max-width: $maxwidth-s;
  	}
	.portfolio .padding-xl-top {
		padding-top: $padding-m;
	}
	.portfolio .padding-xl-bottom {
		padding-bottom: $padding-m;
	}
}
@media screen and (max-width: $screen-tablet-s) {
	.portfolio .padding-xl-top {
		padding-top: $padding-m;
	}
	// make this a default feature, not manually added via css
	.portfolio #question-mark {
		background-image: none !important;
	}
	.portfolio #question-mark .column-2 img {
		opacity: 1;
	}
	.portfolio .padding-xl-bottom {
		padding-bottom: $padding-m;
	}
	@keyframes wipe {
    from {
        width: 0%;
	    height: 100%;
	    max-height:500px;
	    display: block;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 97.81px;
	    bottom: 0;
	    opacity: 1;
    	}
    to {
        width: 100%;
	    height: 100%;
	    max-height:500px;
	    display: block;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 97.81px;
	    bottom: 0;
	    opacity: 1;
    }
}
.animate .wrapper-portfolio .wipe {
	animation-duration: 2.25s;
	animation-name: wipe;
}
}
@media screen and (max-width: $screen-mobile-l) {
	.portfolio .padding-xl-top {
		padding-top: $padding-s;
	}
	.portfolio .padding-xl-bottom {
		padding-bottom: $padding-s;
	}
}