.full-client.codeteam {
  background: url(/assets/images/services/code-web-feature.png) #b7285a no-repeat;
  background-size: contain;
  background-position: center center;
}
.full-client.besc {
  background: url(/assets/images/services/4dv-feature.png) #0782c3 no-repeat;
  background-size: contain;
  background-position: center center;
}
.full-client.ddn {
  background: url(/assets/images/services/ddn-featured.png) #AB0000 no-repeat;
  background-size: contain;
  background-position: center center;
}
.night-header .intro {
  background: #000;
  color: #FFF;
}
.night-header .intro h1 {
  font-weight: 100;
}
.night-header .intro h2 {
  color: $aluminum;
  font-weight: 300;
  margin-top: 0px;
}
.blue-card {
  background-color: #508be4;
}
.gray-card {
  background-color: #e9e4ea;
}
// Feature summary blocks ------------------------------------------------------
.feature-summary div p {
  margin: 0 auto;
  color: #000000;
  font-weight: normal;
  font-size: 13px;
}
.feature-summary .light {
  font-weight: 300;
}
.feature-summary div svg {
  margin-bottom: 10px;
}
// Feature pivots --------------------------------------------------------------
.feature-pivots img {
  margin-bottom: 20px;
}
.feature-pivots h4 {
  margin-bottom: 15px;
}
// Workflow --------------------------------------------------------------------
.import-workflow {
  background: $shadow;
  box-shadow: inset 0 -1px 0 #FFF;
}
.import-workflow h2 {
  color: #FFF;
}
.import-workflow p {
  color: $cloud;
}
.import-workflow-video {
  text-align: center;
  overflow: hidden;
}
.import-workflow-video video {
  max-width: 1200px;
  border-radius: 5px;
  margin-bottom: -35px;
}
.import-workflow-video-mobile {
  display: none;
}
.import-workflow .block {
  padding-top: 0;
  padding-bottom: 0;
}
.services .grid-2>div:nth-child(-n+2), .grid-3>div:nth-child(-n+3), .grid-4>div:nth-child(-n+4) {
  /*width: 30vw;*/
  /*height: 30vw;*/
}
.grid-2 > div, .grid-3 > div, .grid-4 > div {
    padding-left: 0px;
    padding-right: 0px;
}
// Media queries ---------------------------------------------------------------
@media screen and (max-width: $screen-laptop) {
  .feature-summary.grid-4 div {
    margin-top: 0;
    flex-basis: 25%;
  }
  .feature-summary.grid-3 div {
    margin-top: 0;
    flex-basis: 33.33%;
  }
  .overview-pivots section:last-child {
    max-width: 580px;
  }
  .overview-pivots section:last-child > div {
    flex-basis: 50%;
  }
  .services .grid-2>div, .grid-2>div:nth-child(2), .grid-3>div:nth-child(3) {
    margin-top: 0px;
  }
  .services .videos-3.grid-2, .videos-3.grid-3, .videos-3.grid-4 {
  flex-wrap: nowrap;
  }
}
@media screen and (max-width: $screen-tablet) {
  .feature-summary.grid-3 div {
    margin-top: 0;
    flex-basis: 33.33%;
  }
  .feature-pivots div {
    max-width: 300px;
    margin: 0 auto;
  }
  .feature .intro svg {
    width: 90px;
    margin-bottom: 0 !important;
  }
  .services .grid-2>div, .grid-3>div, .grid-4>div, .grid-3>div:nth-child(2), .grid-3>div:nth-child(3), .grid-4>div:nth-child(2), .grid-4>div:nth-child(3), .grid-4>div:nth-child(4) {
    margin-top: 0px;
  }
}
@media screen and (max-width: $screen-tablet-s) {
  .autocode-video {
    overflow: hidden;
  }
  video.autocode-prototypes {
    width: 300%;
    position: relative;
    left: -100%;
  }
  .services .featured-client1.overlay .card a:before {
    height: 155px;
  }
  .services .featured-client1.overlay a:hover:before {
    height: 105px;
  }
  .services .grid-2>div, .grid-3>div, .grid-4>div, .grid-3>div:nth-child(2), .grid-3>div:nth-child(3), .grid-4>div:nth-child(2), .grid-4>div:nth-child(3), .grid-4>div:nth-child(4) {
    margin-top: 0px;
  }
}
@media all and (max-width: $screen-mobile-l) {
  .feature-summary {
    max-width: 100%;
    text-align: center;
  }
  .import-workflow-video-mobile,
  .import-workflow-video-mobile video {
    display: block;
  }
  .overview-pivots section:last-child > div {
    flex-basis: 100%;
  }
  .services .grid-2>div, .grid-3>div, .grid-4>div, .grid-3>div:nth-child(2), .grid-3>div:nth-child(3), .grid-4>div:nth-child(2), .grid-4>div:nth-child(3), .grid-4>div:nth-child(4) {
    margin-top: 0px;
  }
}
@media all and (max-width: $screen-mobile-s) {
  .feature .intro h1 {
    font-size: 40px;
  }
  .feature .intro .subtitle {
    font-size: 24px;
  }
  .services .grid-2, .grid-3, .grid-4 {
    flex-wrap: wrap;
  }
  .services .grid-2>div, .grid-3>div, .grid-4>div, .grid-3>div:nth-child(2), .grid-3>div:nth-child(3), .grid-4>div:nth-child(2), .grid-4>div:nth-child(3), .grid-4>div:nth-child(4) {
    margin-top: 0px;
  }
}
// Card -----------------------------------------------------------------------
.card a {
  color: #000;
}
.card img,
.card video {
  @extend %card !optional;
  width: 100%;
  object-fit: contain;
}
.card:hover img,
.card:hover video {
  @extend %card-hover !optional;
}
.card h6 {
  margin: 20px 0 10px 0;
}

// Responsive ------------------------------------------------------------------
@media screen and (max-width: $screen-mobile-l) {
  .card a {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }
  .services .featured-client1.overlay .card a:before {
    height: 150px;
  }
  .services .featured-client1.overlay a:hover:before {
    height: 100px;
  }
  .card video,
  .card img {
    margin-right: 20px;
  }
  .card-info {
    flex-grow: 1;
  }
  .card h6,
  .content .card h6 {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
  }

  .card-vertical {
    margin-bottom: 10px;
  }
  .card-vertical a {
    display: block;
  }
  .card-vertical img,
  .card-vertical video {
    max-width: 100%;
  }
  .card-vertical h6 {
    margin: 10px 0 5px 0;
  }
  .services .grid-2>div, .grid-3>div, .grid-4>div, .grid-3>div:nth-child(2), .grid-3>div:nth-child(3), .grid-4>div:nth-child(2), .grid-4>div:nth-child(3), .grid-4>div:nth-child(4) {
    margin-top: 0px;
  }
}
@media screen and (max-width: $screen-mobile-m) {
  .card-vertical img,
  .card-vertical video {
    max-width: 100%;
  }
  .services .grid-2>div, .grid-3>div, .grid-4>div, .grid-3>div:nth-child(2), .grid-3>div:nth-child(3), .grid-4>div:nth-child(2), .grid-4>div:nth-child(3), .grid-4>div:nth-child(4) {
    margin-top: 0px;
  }
}
@media screen and (max-width: $screen-mobile-s) {
  .card h6 {
    font-size: 17px;
  }
  .card .small {
    font-size: 15px;
  }

  .card-vertical h6 {
    font-size: 19px;
  }
  .card-vertical .small {
    font-size: 17px;
  }
  .services .grid-2>div, .grid-3>div, .grid-4>div, .grid-3>div:nth-child(2), .grid-3>div:nth-child(3), .grid-4>div:nth-child(2), .grid-4>div:nth-child(3), .grid-4>div:nth-child(4) {
    margin-top: 0px;
  }
}
