.slider-image-container {
  position: relative;
  width: 90%;
  max-width: 768px;
  margin: 0em auto;
}
.slider-image-container img {
  display: block;
}

.slider-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
  transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
  -o-transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
}
.slider-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .slider-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.slider-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider-resize-img::before {
  position: absolute;
  content: '';
  width: 8px;
  right: -2px;
  top: -10px;
  bottom: -15px;
  background: #0069f2;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
  z-index: 1;
}

.slider-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.slider-resize-img .slider-image-label {
  right: auto;
  left: 0;
}
.is-visible .slider-resize-img {
  width: 50%;
  -webkit-animation: slider-bounce-in 0.7s;
  animation: slider-bounce-in 0.7s;
}

.slider-handle svg {
  height: 32px;
  width: 32px;
  left: 16px;
  top: 16px;
  position: absolute;
}
.slider-handle {
  position: absolute;
  height: 64px;
  width: 64px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -30px;
  border-radius: 50%;
  background: #0069f2;
  cursor: move;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}

.slider-handle.draggable {
  background: #1badff;
}
.is-visible .slider-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
  transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
  -o-transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
}

@-webkit-keyframes slider-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes slider-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}