<div id="col-dbg-menu" class="dbg-each-menu">
<div class="dbg-main-btns">
<i class="fas fa-arrows-alt"></i>
<span class="this-section-name">Column</span>
<i class="fas fa-pen-square"></i>
</div>
<div class="dbg-style-menu">
    <ul class="dbg-style-sub-parent dbg-style-padding">
    <span class="dbg-style-sub-parent">Padding <i class="fas fa-caret-down"></i></span>
    <ul class="dbg-style-padding-top">  
    <ul class="dbg-style-padding-bottom">
        <li class="dbg-list-sub-title dbg-style-padding-bottom-title">Bottom: </li> 
    </ul>
    </ul>
    </ul>
    <ul class="dbg-style-sub-parent dbg-style-col-alignment">
        <span class="dbg-style-sub-parent">V Alignment <i class="fas fa-caret-down"></i></span>
            
        <ul class="dbg-style-vertical-align">
            <li class="dbg-list-sub-title dbg-style-align-vertical-title">Vertical: </li>

        <ul class="dbg-style-horizontal-align">
            <li class="dbg-list-sub-title dbg-style-align-horizontal-title">Horizontal: </li> 

        </ul>
        </ul>
    </ul>
    <ul class="dbg-style-sub-parent dbg-style-col-size">
        <span class="dbg-style-sub-parent">Size <i class="fas fa-caret-down"></i></span>
        <ul class="dbg-style-col-size-options">

        </ul>
    </ul>
    </div>
</div>